

body{
  font-family: helvetica;
  text-align: center;
}

#title{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

ul li{
  list-style-position: outside;
  list-style-type: none;
  padding-bottom: 8px;
  color:white;
  text-decoration: underline;
  font-size: 18px;
  font-weight: 500px;
}

#bi
{
  background-image:url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bolder;
  font-weight: 900;
  background-size: contain;


}

#copyright
{
  text-align: left;
}
